spring:
  profiles:
    active: local    # 디폴트로 로드
    group:
      local: local, common, secret
      blue: blue, common, secret
      green: green, common, secret

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/qpin_db?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: ${DB_USERNAME:qpin_user}
    password: ${DB_PASSWORD:your_password}
    driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true

server:
  env: blue

---

spring:
  config:
    activate:
      on-profile: local

server:
  port: 8080
  serverAddress: localhost

serverName: local_server

---

spring:
  config:
    activate:
      on-profile: blue

server:
  port: 8080
  serverAddress: ${SERVER_ADDRESS}

serverName: blue_server

---

spring:
  config:
    activate:
      on-profile: green

server:
  port: 8081
  serverAddress: ${SERVER_ADDRESS}

serverName: green_server

---

spring:
  config:
    activate:
      on-profile: common

